/*
  Built Mobile First: All Generic sizing and layouts are placed in main part of CSS. 
  All sizing and layout changes specific to screen sizes is down in media-query area.
  All color based things are seperate to allow for tweaking later out.
*/

/**********************************
GENERAL
***********************************/


/**********************************
NAVIGATION 
***********************************/



/**********************************
HEADER
***********************************/


/**********************************
MAIN CONTENT
***********************************/


/**********************************
FOOTER - Layout and Sizing
***********************************/


/**********************************
PAGE: _______
***********************************/



/**********************************
FONTS
***********************************/



/**********************************
COLORS and BACKGROUNDS
Color 1:
Color 1:
Color 1:
Color 1:
Color 1:
***********************************/

body{
font-family: 'Indie Flower', cursive;
background-color:#5C1420;
font-size:20px;
}
.thumbnail{
  background-color:#F2AE72;
}
.Math.html{
   background-color:#F2AE72;
}